EMAIL=max.mustermann@example.com
DOMAIN=example.com
VAULTWARDEN_ADMIN_PASSWORD=KDEcaaGUd9kCjmN623U2PMWjUwUqNrLJ
MYSQL_ROOT_PASSWORD=RJnLKLWVT6uCGrVxqzc4bfew2CVUSDP7
MYSQL_PASSWORD=coahwpXuLTRYhbrJY2UVqgrPri9hLJnE
WG_PASSWORD=b2rVHQmvgaNHQDY9jNfRrbzVWKCLDQHy
IPALLOWLIST=172.16.0.0/12
CROWDSEC_LAPI_KEY=2abpGRXqQnq8KSaHgfFtdV/CnVVvWmU8cCZ2CDhgJZH
CROWDSEC_ENROLL_KEY=gxyc3igakixgge23ei3bo4f6i